
<div class="container-fluid">

  <div class="row">
    <div class="col-12 bg-1">
      <div class="col-4 mx-auto">
        <h1 class="text-light">Beerckathon</h1>
        <% @posts.each do |post|%>
          <div class="post_content my-3">
            <div class="user_name">
              <%= post.user.name%>
            </div>
            <div class="content bg-light text-beer">
            <%= post.content%>
            </div>
            <%= post.created_at%>
            <%= post.updated_at%>
          </div>
          <div>
            <%= post.created_at%>
            <%= post.updated_at%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

