<!DOCTYPE html>
<html>

<head>
  <title>LoveAndBeer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header container-fluid sticky-top">
    <div class="row">
      <div class="col-md-12 bg-beer">
        <div class="header-content">
            <div class="header-logo text-white">
                <h1 class="header-logo">delta</h1>
            </div>
            <div class="navigation"></div>
        </div>
      </div>
    </div>

    <nav>
        <ul class="navbar-nav navbar-right">

        <% if logged_in? %>
          <li><span class="glyphicon glyphicon-home"></span><%= link_to "Post", new_post_path %></li>          
        <% else%>
          <li><span class="glyphicon glyphicon-home"></span><%= link_to "Home", root_path %></li>
          <li><span class="glyphicon glyphicon-book"></span><%= link_to "Signup", new_user_path %></li>
          <li><span class="glyphicon glyphicon-log-in"></span><%= link_to "login", login_path %></li>
        <% end%>

      </ul>
      </nav>
  </header>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>

  <footer class="container-fluid fixed-bottom">
      <div class="row">
          <div class="col-12 text-center text-white bg-beer">
              <p>Copyright © 2019 delta All rights reserved.</p>
          </div>
      </div>
  </footer>
</body>

</html>